body{
    background-image: url('graph.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}
form{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    width: 28%;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 3% 0%;
    border-radius: 2%;
    background-color: #ffffffce;
    align-items: center;
}
.brand{
    padding:3%;
    margin: 3%;
    background-image: url('images3.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 60px;
    height: 60px;
}
input{
    margin: 2%;
    font-size: 90%;
    background-color: transparent;
    padding: 3%;    
    width: 60%;
    border: 2px solid #aa00ff;
    border-radius: .4rem;
}
button{
    margin: 1%;
    padding: 3%;
    background-color: #aa00ff;
    border: 0px;
    font-size: 1.2rem;
    border-radius: .4rem    ;
    cursor: pointer;
    width: 65%;
    text-transform: uppercase;
}
button:hover{
    background-color: #aa00ff54;
    transition: .3s;
}
.already_user{
    margin: 1%;
    font-size: 90%;
    color: black;
    text-transform: uppercase;
}