body.home {
  background-color: black;
  background-image: none;
  color: white;
}

.navbar_body{
    height: 100%;
    display: flex;
    width: 100%;
    border-bottom: 3px solid white;
    justify-content: space-between;
}

.navbar_left{
    padding:30px;
}
.navbar_right{
    padding:30px;
    display: flex;
    cursor: pointer;
}